.centerItems {
  margin-right: auto;
  margin-left: auto;
  place-items: center;
  align-items: center;
}
.inputs {
  margin-left: 50px;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 10px;
  border-color: rgb(250, 240, 98);
  border-style: solid;
}
.label {
  padding: 10px;
  margin-right: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
}
.inputTexts {
  margin-top: 20px;
  min-width: 300px;
  max-width: 300px;
  height: 50px;
  border-color: rgb(250, 240, 98);
  border-style: solid;
  border-radius: 10px;
  text-align: center;
}
.button {
  width: 200px;
  height: 50px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button :hover {
  width: 200px;
  height: 50px;
  background-color: rgb(42, 146, 250);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding-right: 10px;
}
.itemListDesign {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 800px;
  height: 250px;
  border-color: rgb(252, 166, 109);
  background-color:  rgb(252, 166, 109);
  border-radius: 10px;
  display: block;
}
.smallImg {
  width: 160px;
  height: 170px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
}
.articleText {
  width: 600px;
  height: 130px;
  margin: 10px;
  float: right;
}
.comment {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 600px;
}

.oneArticle {
  width: 700px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px;
}

.imageLarge {
  width: 600px;
  min-height: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.textInp {
  width: 500px !important;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}

.input {
  width: 500px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border: none;
}
